@model IEnumerable<RealtorFirm.PL.Models.ClientModel>
@{
    ViewBag.Title = "Sort";
}

<div class="window">
    <h2>All clients sort by name</h2>
    <hr>
    <form action="/Client/All" method="get" style="padding-left:10px;padding-bottom:20px;">
        <input value="Sort by name" type="submit" style="width:30%">
        <input type="hidden" value="name" name="Sort">
    </form>
    <form action="/Client/All" method="get" style="padding-left:10px;padding-bottom:20px;">
        <input value="Without sort" type="submit" style="width:20%">
        <input type="hidden" value="without" name="Sort">
    </form>
    <h2>Landlords</h2>

    <table style="padding-bottom:20px;">
        @{
            if (Model.Count() != 0)
            {
                <tr>
                    <td><div class="p1"> Name</div></td>
                    <td><div class="p1" style="padding-right:25px;"> Surname</div></td>
                    <td><div class="p1" style="padding-right:15px;"> Patronimic</div></td>
                    <td><div class="p1" style="padding-right:15px;"> Date of birth</div></td>
                    <td><div class="p1" style="padding-right:15px;"> Role</div></td>
                    <td></td>
                </tr>
            }
        }
        @{
            foreach (var n in Model)
            {
                if (n.Role == "landlord")
                {
                    <tr>
                        <td><div class="p1"> @n.Name</div></td>
                        <td><div class="p1" style="padding-right:25px;"> @n.Surname</div></td>
                        <td><div class="p1" style="padding-right:15px;"> @n.Patronimic</div></td>
                        <td><div class="p1" style="padding-right:15px;"> @n.DateOfBirth.ToShortDateString()</div></td>
                        <td><div class="p1" style="padding-right:15px;"> @n.Role</div></td>
                        <td>
                            <form action="/Client/Details" method="post" style="padding-right:15px;">
                                <input type="hidden" value="@n.ClientId" name="Id">
                                <input value="See contact" type="submit" style="width:100%;">
                            </form>
                        </td>

                    </tr>
                }
            }
        }

    </table>
    <hr>
    <h2>Renters</h2>

    <table style="padding-bottom:20px;">
        @{
            if (Model.Count() != 0)
            {
                <tr>
                    <td><div class="p1"> Name</div></td>
                    <td><div class="p1" style="padding-right:25px;"> Surname</div></td>
                    <td><div class="p1" style="padding-right:15px;"> Patronimic</div></td>
                    <td><div class="p1" style="padding-right:15px;"> Date of birth</div></td>
                    <td><div class="p1" style="padding-right:15px;"> Role</div></td>
                    <td></td>
                </tr>
            }
        }
        @{
            foreach (var n in Model)
            {
                if (n.Role == "renter")
                {
                    <tr>
                        <td><div class="p1"> @n.Name</div></td>
                        <td><div class="p1" style="padding-right:25px;"> @n.Surname</div></td>
                        <td><div class="p1" style="padding-right:15px;"> @n.Patronimic</div></td>
                        <td><div class="p1" style="padding-right:15px;"> @n.DateOfBirth.ToShortDateString()</div></td>
                        <td><div class="p1" style="padding-right:15px;"> @n.Role</div></td>
                        <td>
                            <form action="/Client/Details" method="post" style="padding-right:15px;">
                                <input type="hidden" value="@n.ClientId" name="Id">
                                <input value="See contact" type="submit" style="width:100%;">
                            </form>
                        </td>

                    </tr>
                }
            }
        }

    </table>

    @{
        if (Model.Count() == 0)
        {
            <div class="p1" style="padding-bottom:15px;">You don`t have any clients!</div>
        }
    }

    <form action="/Client/Add" method="post" style="padding-left:10px;padding-bottom:20px;">
        <input value="Add" type="submit" style="width:20%">
    </form>
    <form action="/Client/AddExistClient" method="post" style="padding-left:10px;padding-bottom:20px;">
        <input value="Add from exist" type="submit" style="width:20%">
    </form>
</div>