@model IEnumerable<RealtorFirm.PL.Models.ApplyModel>
@{
    ViewBag.Title = "Notifications";
}
<div class="window">
    @if (Model.Count() != 0)
    {
        <h2>Not allowed</h2>
        <table border="1" cellspacing="0" cellpadding="2" width="350" style="text-align:left">
            <tr>
                <td><div class="p1"> Address</div></td>
                <td><div class="p1"> City</div></td>
                <td><div class="p1"> Rooms</div></td>
                <td><div class="p1"> Price</div></td>
                <td><div class="p1"> Status</div></td>
                <td><div class="p1"> Description</div></td>
                <td></td>
            </tr>
            @{
                foreach (var n in Model)

                {
                    if (n.ApplyStatus == "not allowed")
                    {
                        <tr>
                            <td>@n.Address</td>
                            <td>@n.City</td>
                            <td>@n.Rooms</td>
                            <td>@n.Price</td>
                            <td>@n.Status</td>
                            <td>@n.Description</td>
                            <td>
                                <form method="get" action="/Client/Renter">
                                    <input type="hidden" value="@n.SenderId" name="id">
                                    
                                    <input value="Details" type="submit" style="width:100%;">
                                </form>
                            </td>
                            <td>
                                <form method="get" action="/Apply/Allow">
                                    <input type="hidden" value="@n.ApplyId" name="ApplyId">
                                    <input type="hidden" value="@n.SenderId" name="SenderId">
                                    <input type="hidden" value="@n.OwnerId" name="OwnerId">
                                    <input type="hidden" value="@n.AppartmentId" name="AppartmentId">
                                    <input type="hidden" value="@n.City" name="City">
                                    <input type="hidden" value="@n.Price" name="Price">
                                    <input type="hidden" value="@n.Rooms" name="Rooms">
                                    <input type="hidden" value="@n.Address" name="Address">
                                    <input type="hidden" value="@n.Status" name="Status">
                                    <input type="hidden" value="@n.Description" name="Description">
                                    <input type="hidden" value="@n.ApplyStatus" name="ApplyStatus">
                                    <input type="hidden" value="@n.UserId" name="UserId">
                                    <input type="hidden" value="@n.OwnerRealtor" name="OwnerRealtor">
                                    
                                    <input value="Allow" type="submit" style="width:100%;">
                                </form>
                            </td>
                        </tr>
                    }
                }
            }
        </table>
     }
    @if (Model.Count() != 0)
    {
        <h2>Allowed</h2>
        <table border="1" cellspacing="0" cellpadding="2" width="350" style="text-align:left">
            <tr>
                <td><div class="p1"> Address</div></td>
                <td><div class="p1"> City</div></td>
                <td><div class="p1"> Rooms</div></td>
                <td><div class="p1"> Price</div></td>
                <td><div class="p1"> Status</div></td>
                <td><div class="p1"> Description</div></td>
                <td></td>
            </tr>
            @{
                foreach (var n in Model)

                {
                    if (n.ApplyStatus == "allowed")
                    {
                        <tr>
                            <td>@n.Address</td>
                            <td>@n.City</td>
                            <td>@n.Rooms</td>
                            <td>@n.Price</td>
                            <td>@n.Status</td>
                            <td>@n.Description</td>
                            <td>
                                <form method="get" action="/Client/Renter">
                                    <input type="hidden" value="@n.SenderId" name="id">
                                    <input value="Details" type="submit" style="width:100%;">
                                </form>
                            </td>
                            <td>
                                <form method="post" action="/Apply/NotDelete">
                                    <input type="hidden" value="@n.ApplyId" name="Id">
                                    <input value="Delete Apply" type="submit" style="width:100%;">
                                </form>
                            </td>
                        </tr>
                    }
                }
            }
        </table>
        
         }
    @if (Model.Count() == 0)
    {
        <div class="p1" style="padding-bottom:20px;padding-top:20px">No notifications</div>
    }
</div>